# general
.DS_Store
.tmp
node_modules
package-lock.json

# s3-web
s3-web/public/service-worker.js
s3-web/public/assets/data
s3-web/public/assets/js
s3-web/public/assets/css

# lambda-func
lambda-func/credentials.js

# firebase-web
firebase-web/public/assets/js
