$prefix: 'top';

.#{$prefix}-page {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &_appBarLayout {
  }
  &_tabLayout {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: $common-app-bar-height;
  }
}
